/* Home Page CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{

} */

body{
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(232, 152, 186, 0.2);
    
}

div{
    background-color:rgb(241, 245, 248);
    width: auto;
    margin: 5% 5% 5% 5%;
    height: 98%;
    border: 1px solid red;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

img{
    width: 100%;
}

/* Modal Window CSS*/
.btn{
    text-decoration: none;
    font-size: 20px;
    background-color:orange;
    padding: 10px;
    border-radius: 12px;
    white-space: nowrap;
}

.mdlwindow{
    background-color: rgba(35, 37, 186, 0.5);
    /* margin-top:0%;
    margin-bottom:0%; */
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    /* opacity must be turned to 1 in order to visualize */
    opacity: 0; 
    pointer-events:none;
}

.mdlwindow:target{
    opacity:1;
    pointer-events:auto;
}

.msgblock{
    /* background-color:white; */
    width: 60%;
    margin: auto;
    margin-top: 10%;
    padding: 4%;
}

/* img{
    height: auto;
    width: 100%;
} */

.msgblock a{
    text-decoration: none;
    font-size: 30px;
    background-color: lightblue;
    float: right;
    padding: 1%;

}

.msgblock p{
    background-color:lightblue;
    padding: 4px;
    border-radius: 12px;
    text-align: left;
}

top{
    margin-bottom: 10%;
    background-color:lightblue;
    height:100x;
}